name: WebInventoryPro

on:
  push:
    branches: ["dev"]
  pull_request:
    branches: ["dev"]

jobs:
  python-setup:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up python 3.11
      uses: actions/setup-python@v3
      with:
        python-version: '3.11'

    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip setuptools wheel
        pip install -r requirements.txt
    
    - name: Lint with Flake8
      run: |
        pip install flake8
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
    
  docker-setup:
    runs-on: ubuntu-latest
    needs: python-setup

    steps:
    - uses: actions/checkout@v4
    
    - name: Check dependencies security
      run: |
        pip install pip-audit
        pip-audit --ignore-vuln GHSA-wj6h-64fc-37mp
    
    - name: Build Docker
      run: docker build -t fastapi-container:ci .
